# Pinned versions of development tools
#
# https://github.com/hadolint/hadolint
HADOLINT_VERSION=2.15.1
# https://github.com/DavidAnson/markdownlint-cli2
MARKDOWNLINT_VERSION=0.22.1
# https://github.com/prettier/prettier
PRETTIER_VERSION=3.9.9
# https://github.com/koalaman/shellcheck
SHELLCHECK_VERSION=0.11.0
# https://github.com/mvdan/sh
SHFMT_VERSION=3.14.1
